<h1>Detial Pictures of <%= image ['name']%></h1>

<h2>Item Name : <%= image ['name']%></h2>
<h2>Front</h2>
<img src="<%= image['image_front']%>" alt="">
<h2>Back</h2>
<img src="<%= image['image_back']%>" alt="">
<h2>Top</h2>
<img src="<%= image['image_top']%>" alt="">
<h2>Bottom</h2>
<img src="<%= image['image_bottom']%>" alt="">
<h2>Left</h2>
<img src="<%= image['image_left']%>" alt="">
<h2>Right</h2>
<img src="<%= image['image_right']%>" alt="">
